---
---

$gray: #999;
$light-gray: #EEE;
$fern: #4F8F00;

* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

/* Space out content a bit */

body {
    padding-top: 5px;
}

.container {
    padding-top: 90px;
}

.header {
    position: fixed;
    background: rgba(255, 255, 255, 1) !important;
    padding: 10px 10px;
    border-bottom: 1px solid $light-gray;
    margin-bottom: 20px;
    text-align: center;
    top: 0;
    font-size: 1.2em;
    -webkit-tap-highlight-color: white;
    z-index: 990;
    width: 95%;
    margin: auto;
}

.footer {
    /* padding-top: 19px; */
    color: $gray;
    border-top: 1px solid $light-gray;
    text-align: center;
    font-size: 0.8em;
    a:link,
    a:visited {
        color: $gray;
    }
}

h2 {
    margin-bottom: 25px;
}

a {
    color: $fern;
}

.fa {
    color: $gray;
}

a>.fa {
    // make sure that font-awesome icons are underlined in links
    display: inline;
}


/* /\* Customize container *\/ */


/* @media (min-width: 768px) { */


/*     .container { */


/*         max-width: 730px; */


/*     } */


/* } */


/* Jumbotron */

.jumbotron {
    text-align: justify;
    padding-top: 0.8em;
    padding-bottom: 0.1em;
    margin: auto;
}


/* Group logo */

#logo {
    width: 400px;
    height: 60px;
    margin: 0px 0 2px 0;
}


/* Front page news. */

ul.news {
    .date {
        color: $gray;
        font-weight: bold;
    }
    >li {
        margin-top: 1em;
    }
}

.title img {
    max-width: 50%;
}

section {
    margin-bottom: 2em;
}

.profile {
    object-fit: cover; // makes sure it's cropped
}

.noprofile {
    circle {
        fill: $light-gray;
    }
    text {
        font-weight: 700;
        fill: white;
    }
}

.card {
    .profile {
        height: 40px;
        width: 40px;
        margin: 3px;
    }
    .card-footer {
        padding: 0.5em;
    }
    .card-title{
        a{
            color: black;
        }
    }
}

.person {
    margin-bottom: 10px;
    .profile {
        height: 70px;
        width: 70px;
    }
    .bio {
        color: $gray;
    }
    .person-name {
        margin: 0;
    }
}

.person-without-image {
    margin: 0;
    .bio {
        margin-left: 1em;
    }
}

.pub-tr{
    border:1.5px solid #ffffff;
}

svg {
    // make the alignment just like img from bootstrap's reboot.scss
    vertical-align: middle;
}

#people {
    border-top: 65px solid transparent;
    margin-top: -65px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

#research {
    border-top: 65px solid transparent;
    margin-top: -65px;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}


@media (min-width: 176px) {
    .nav-link{
        padding: .15em .3em;
        font-size: 90%;
    }

    .jumbotron {
        font-size: 110%;
    }

    .project-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .container {
        padding-top: 100px;
    }
    .header {
        padding-top: 10px;
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    #logo {
        width: 170px;
        height: 50px;
        margin: 0px 0 5px 0;
    }
    #people {
        border-top: 150px solid transparent;
        margin-top: -150px;
    }
    #research {
        border-top: 150px solid transparent;
        margin-top: -150px;
    }
    #publications {
        border-top: 150px solid transparent;
        margin-top: -150px;
    }
}

@media (min-width: 576px) {
    // phone
    .nav-link{
        padding: .15em .3em;
        font-size: 90%;
    }

    .jumbotron {
        font-size: 110%;
    }

    .project-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
    .role.grad {
        column-count: 2
    }
    .project-people {
        column-count: 2
    }
    .project-people-with-code {
        column-count: 2
    }
    .card-columns {
        column-count: 2
    }
    .container {
        padding-top: 90px;
    }
    .header {
        padding-top: 10px;
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    #people {
        border-top: 150px solid transparent;
        margin-top: -150px;
    }
    #research {
        border-top: 150px solid transparent;
        margin-top: -150px;
    }
}

@media (min-width: 768px) {
    // ipad
    .nav-link{
        padding: .5em 1em;
        font-size: 110%;
    }

    .jumbotron {
        font-size: 120%
    }
    .project-img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
    }
    .role.grad {
        column-count: 2
    }
    .project-people {
        column-count: 3
    }
    .project-people-with-code {
        column-count: 2
    }
    .card-columns {
        column-count: 2
    }
    .container {
        padding-top: 70px;
    }
    .header {
        padding-top: 10px;
        font-size: 1.1em;
        padding-bottom: 10px;
    }
    #people {
        border-top: 70px solid transparent;
        margin-top: -70px;
    }
    #research {
        border-top: 70px solid transparent;
        margin-top: -70px;
    }
}

.twt_wrap {
    text-align: center;
    color: blue;
}
.twt_wrap > iframe {
margin: auto;
}


// Publications

.publications {
    margin-top: 2rem;
    h1 {
    //   color: var(--global-theme-color);
      font-size: 2rem;
      text-align: center;
      margin-top: 1em;
      margin-bottom: 1em;
    }
    h2 {
      margin-bottom: 1rem;
      span {
        font-size: 1.5rem;
      }
    }
    h2.year {
    //   color: $grey-color-light;
    //   border-top: 1px solid $grey-color-light;
      padding-top: 1rem;
      margin-top: 2rem;
      margin-bottom: -2rem;
      text-align: right;
    }
    ol.bibliography {
      list-style: none;
      padding: 0;
      margin-top: 0;

      li {
        margin-bottom: 1rem;
        .abbr {
          height: 2rem;
          margin-bottom: 0.5rem;
          abbr {
            display: inline-block;
            // background-color: var(--global-theme-color);
            padding-left: 1rem;
            padding-right: 1rem;
            a {
              color: white;
              &:hover {
                text-decoration: none;
              }
            }
          }
          .award {
            color: wheat !important;
            background-color: #2e8b57;
          }
          .repo {
            background-color: #87e33b;
          }
          .pdfs {
            background-color: #44c17b;
          }
          .blog {
            background-color: #349e63;
          }
          .url {
            background-color: white;
            a {
              color: green;
              &:hover {
                text-decoration: none;
              }
            }
          }
        }
        .title {
          font-weight: bolder;
        }
        .author {
          a {
            border-bottom: 1px dashed var(--global-theme-color);
            &:hover {
                border-bottom-style: solid;
                text-decoration: none;
            }
          }
          > em {
            border-bottom: 1px solid;
            font-style: normal;
          }
        }
        .links {
          a.btn {
            // color: var(--global-text-color);
            // border: 0.25px solid var(--global-text-color);
            // box-shadow: 2px 2px var(--grey-color-light);
            padding-left: 0.05rem;
            padding-right: 0.05rem;
            padding-top: 0.25rem;
            padding-bottom: 0.25rem;
            // &:hover {
            //   color: var(--global-theme-color);
            //   border-color: var(--global-theme-color);
            // }
          }
        }
        .hidden {
          font-size: 0.875rem;
          max-height: 0px;
          overflow: hidden;
          text-align: justify;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;

          p {
            line-height: 1.4em;
            margin: 10px;
            // box-shadow: 2px 2px var(--grey-color-light);
          }
          pre {
            font-size: 1em;
            line-height: 1.4em;
            padding: 10px;
          }
        }
        .hidden.open {
          max-height: 100em;
          -webkit-transition: 0.15s ease;
          -moz-transition: 0.15s ease;
          -ms-transition: 0.15s ease;
          -o-transition: 0.15s ease;
          transition: all 0.15s ease;
        }
        div.abstract.hidden {
          border: solid 1px white;
        //   box-shadow: 2px 2px var(--grey-color-light);
        }
        // div.abstract.hidden.open {
        //   border-color: var(--global-theme-color);
        //   box-shadow: 2px 2px var(--grey-color-light);
        // }
      }
    }
  }
