<table class="table">
<tbody>
	
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2022</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2201.05955">WaNLI: Worker and AI Collaboration for Natural Language Inference Dataset Creation</a>
				</span><br />
				<span class="authors">
					Alisa Liu, Swabha Swayamdipta, Noah A. Smith, and Yejin Choi.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Unknown venue (type=misc)</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2112.08674">Reframing Human-AI Collaboration for Generating Free-Text Explanations</a>
				</span><br />
				<span class="authors">
					Sarah Wiegreffe, Jack Hessel, Swabha Swayamdipta, Mark Riedl, and Yejin Choi.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of NAACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2111.07997">Annotators with Attitudes: How Annotator Beliefs And Identities Bias Toxic Language Detection</a>
				</span><br />
				<span class="authors">
					Maarten Sap, Swabha Swayamdipta, Laura Vianna, Xuhui Zhou, Yejin Choi, and Noah A. Smith.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of NAACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2110.08420">Understanding Dataset Difficulty with 𝒱-Usable Information</a>
				</span><br />
				<span class="authors">
					Kawin Ethayarajh, Yejin Choi, and Swabha Swayamdipta.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of ICML</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2021</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2102.01454">MAUVE: Measuring the Gap Between Neural Text and Human Text using Divergence Frontiers</a>
				</span><br />
				<span class="authors">
					Krishna Pillutla, Swabha Swayamdipta, Rowan Zellers, John Thickstun, Sean Wellecks, Yejin Choi, and Zaid Harchaoui.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of NeurIPS</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="http://arxiv.org/abs/2109.07725">Sister Help: Data Augmentation for Frame-Semantic Role Labeling</a>
				</span><br />
				<span class="authors">
					Ayush Pancholy, Miriam R. L. Petruck, and Swabha Swayamdipta.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of LAW-DMR Workshop at EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2103.01378">Contrastive Explanations for Model Interpretability</a>
				</span><br />
				<span class="authors">
					Alon Jacovi, Swabha Swayamdipta, Shauli Ravfogel, Yanai Elazar, Yejin Choi, and Yoav Goldberg.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2105.03023">DExperts: Decoding-Time Controlled Text Generation with Experts and Anti-Experts</a>
				</span><br />
				<span class="authors">
					Alisa Liu, Maarten Sap, Ximing Lu, Swabha Swayamdipta, Chandra Bhagavatula, Noah A. Smith, and Yejin Choi.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of ACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2102.00086">Challenges in Automated Debiasing for Toxic Language Detection</a>
				</span><br />
				<span class="authors">
					Xuhui Zhou, Maarten Sap, Swabha Swayamdipta, Noah A. Smith, and Yejin Choi.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of EACL</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
		
		<tr>
			<td class="pub-tr" style="padding-bottom: 0px;">
				<span class="date" style="font-size:24px;">
					<strong>2020</strong><br/>
				</span>
			</td>
		</tr>
		
		<tr class="pub-tr">
			<td class="pub-tr publication" style="padding-left: 24px;">
				<span class="pubtitle">
					<span class="fa fa-fw fa-file-pdf-o"></span>
					<a href="https://arxiv.org/abs/2004.11546">G-DAUG: Generative Data Augmentation for Commonsense Reasoning</a>
				</span><br />
				<span class="authors">
					Yiben Yang, Chaitanya Malaviya, Jared Fernandez, Swabha Swayamdipta, Ronan LeBras, Ji-Ping Wang, Chandra Bhagavatula, Yejin Choi, and Doug Downey.
				</span>&ensp;
				<span class="venuetype"></span><span class="venue"><i>Proc. of EMNLP</i></span>.
				<br />
				<span class="links">
				</span>
			</td>
		</tr>
		
	
</tbody>
</table>
